<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
		<gcConcurrent enabled="true"/>
		<GCLOHThreshold enabled="2147483648"/>
		<gcServer enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="InputDataSourceRootDir" value="G:\TEMP\DNS-TMP\RESULT-TREE\" />
		<add key="OutputTmpDir" value="G:\TEMP\DNS-TMP\RESULT-TREE\OUTPUTTMP" />
		<add key="OutputResultDir" value="G:\TEMP\DNS-TMP\RESULT-TREE\OUTPUTR"/>
		<add key="InputDataSourceFileName" value="result_dns.txt"/>
		<add key="OutputFilteredDataSourceFileName" value="result_dnsf.txt"/>
		<add key="ValidDnsNamesFileName" value = "result_dnsf-valid.txt"/>
		<add key="NotValidDnsNamesFileName" value = "result_dnsf-notvalid.txt"/>
		<add key="MultiPointDnsNamesFileName" value = "multi-point-dns-result-filtered.txt"/>
		<add key="OnePointDnsNamesFileName" value = "single-dns-one-point-result-filtered.txt"/>
		<add key="WildcardTldStatisticsCDictFileName" value = "wildcard-dns-statistics-result-cdict.txt"/>
		<add key="SingleTldStatisticsCDictFileName" value = "single-dns-statistics-result-cdict.txt"/>
		<add key="WildcardTldStatisticsDictFileName" value = "wildcard-dns-statistics-result-dict.txt"/>
		<add key="WildcardTldStatisticsReplDigitsDictFileName" value = "wildcard-dns-statistics-processed-result-dict.txt"/>
		<add key="WildcardTldStatisticsReplDigitsDictDistinctFileName" value = "wildcard-dns-statistics-processed-result-dict-distinct.txt"/>
		<add key="SingleTldStatisticsCDictProcessedFileName" value="single-dns-statistics-result-cdict-processed.txt"/>
		<add key="SingleTldStatisticsCDictProcessedDoneFileName" value="single-dns-statistics-result-cdict-processed-done.txt"/>
		<add key="SingleTldStatisticsCDictProcessedDoneDistinctFileName" value="single-dns-statistics-result-cdict-processed-done-distinct.txt"/>
		<add key="SingleOnePointTldStatisticsFileName" value="single-dns-one-point-result-filtered-tld-statistics.txt"/>
		<add key="SingleOnePointNormalTldStatisticsFileName" value="single-dns-one-point-result-filtered-normaltld.txt"/>
		<add key="SingleByTldStatisticsFileName" value="single-filtered-bytld-statistics-result.txt"/>
		<add key="WildcardDnsResult" value="wildcard-dns-result.txt"/>
		<add key="WildcardDnsResultDetails" value="wildcard-dns-result-det.txt"/>
		<add key="SingleDnsResult" value="single-dns-result.txt"/>
		<add key="WildcardDnsTreeResult" value="wildcard-dns-tree-result.txt"/>
		<add key="SingleDnsTreeResult" value="single-dns-tree-result.txt"/>
		<add key="WildcardDnsTreeResultDetails" value="wildcard-dns-tree-result-details.txt"/>
		<add key="SingleNodeTreeResult" value="singlenode-tree-result.txt"/>
		<add key="WildcardNodeTreeResult" value="wildcardnode-tree-result.txt"/>
		<add key="CollectLevelTwoFileName" value="collectLevel-2.txt"/>
		<add key="CollectLevelTwoResultFileName" value="collectLevelResult.txt"/>
		<add key="CollectLevelTwoFinalResultFileName" value="collectLevelFinalResult.txt"/>
	</appSettings>
</configuration>
