<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OutputDownloadFilesDir" value="G:\TEMP\DNS-TMP\TMP\"/>
		<add key="BlockFilePrefix" value="blockhost-"/>
		<add key="ConfigDir" value="G:\TEMP\DNS-TMP\CONFIG\"/>
		<add key="LinksDataFileInConfigDir" value="Links.txt"/>
		<add key="OutputResultDir" value = "G:\\TEMP\\DNS-TMP\\OUTPUTR\\"/>
		<add key="OutputResultFileName" value = "result_newdns.txt"/>
	</appSettings>
	<connectionStrings>
		<add name="Test" connectionString="Server=.;Database=SomeDatabase;Integrated Security=true"/>
	</connectionStrings>
</configuration>
