<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
		<gcConcurrent enabled="true"/>
		<GCLOHThreshold enabled="2147483648"/>
	</runtime>
	<appSettings>
		<add key="DownloadTmpRootDir" value="G:\TEMP\DNS-TMP\IPTMP\" />
		<add key="OutputResultDir" value="G:\TEMP\DNS-TMP\IPOUTPUTR" />
		<add key="RootDirArch" value="G:\TEMP\DNS-TMP\TMP\" />
		<add key="ResultFileName" value="blocked-ips.txt"/>
		<add key="ConfigDir" value="G:\TEMP\DNS-TMP\CONFIG\"/>
		<add key="IPLinksDataFileInConfigDir" value="IPLinks.txt"/>
		<add key="ArchiveTgzFileName" value="blackip.tar.gz"/>
		<add key="DownloadFilePatternExt" value="*.txt"/>
		<add key="ArchiveFilePatternExt" value="*.tar.gz"/>
	</appSettings>
</configuration>
